.qbcb_measurements:after {
	content: ' ';
	display: block;
	clear: both;
}

ul.thumbnails .thumbnail {
	max-width: 175px;
	position: relative;
}

#box_flute + ul.thumbnails .thumbnail p:last-child, ul.thumbnails .thumbnail p {
	text-align: center;
    background: #A80F0F;
    color: #FFF;
    border-radius: 5px;
    position: absolute;
    top: 80px;
    width: 90%;
    left: 5%;
    display: none;
}

#box_flute + ul.thumbnails .thumbnail p {
	text-align: left;
    background: none;
    color: initial;
    position: initial;
    display: block;
}


ul.thumbnails .thumbnail:hover p:last-child {
	display: block !important;
}

img.image_picker_image {
	max-width: 160px;
}

.image_picker_selector .thumbnail.selected {
	background: none !important;
	border-color: #a81010 !important;
}

#stock_message {
    padding: 10px;
    border: 1px solid #A81711;
}

#stock_message strong {
    color: #A81711;
    font-size: 32px;
}

.qbcb_radio_button {
    padding: 10px 20px;
    margin: 5px;
    font-weight: 700;
    border: 2px solid #A81711;
    color: #A81711;
}

.qbcb_radio_button.selected {
    background: #A81711;
    color: #FFF;
}

@media only screen and (max-width: 860px) {
    form.costabox #price_break_table.qbcb tr th{
        width: auto !important;
        font-size: 16px !important;
        margin-top: 0px !important;

    }

    form.costabox #price_break_table.qbcb tr{
        border: none !important;
        margin-bottom: 0px !important;
    }

    form.costabox #price_break_table.qbcb tr th:first-child, form.costabox #price_break_table.qbcb tr td:first-child {
        width: 25% !important;
        display: inline-block;
    }

    form.costabox #price_break_table.qbcb tr th:nth-child(2), form.costabox #price_break_table.qbcb tr td:nth-child(2) {
        width: 50% !important;
        display: inline-block;
    }

    form.costabox #price_break_table.qbcb tr th:nth-child(3), form.costabox #price_break_table.qbcb tr td:nth-child(3) {
        width: 25% !important;
        display: inline-block;
    }
}


@media only screen and (max-width: 600px) {
    form.costabox #price_break_table.qbcb tr th, form.costabox #price_break_table.qbcb tr td {
        font-size: 14px !important;

    }
}

form.costabox #diagnostics {
    padding: 5px 15px;
    border: 0.5px solid #A81711;
    margin: 2px;
    background: rgba(0,0,0,0.03);
}

form.costabox #diagnostics p {
    margin: 2px;
    font-size: 75%;
}

#send_quote{

    border-radius: 5px;
    margin-left: 6px;
    cursor: pointer;
  
  }
  .costabox #send_quote {
    margin-bottom: 0;
    font-size: 18px;
    padding: 0 30px !important;
  }

.custom-send-quote,
#send_quote_custom {
    color: #fff;
    background: #a81710;
    box-shadow: 0px 10px 20px -10px #a81710;
	border-radius: 5px;
    border: none;
    line-height: 44px;
    padding: 0 20px;
    height: 44px;
    font-size: 16px;
	cursor: pointer;
	transition: 0.4s;
}
.custom-send-quote:hover,
#send_quote_custom:hover {
	box-shadow: none;
	opacity: 0.9;
}

button.close{
    cursor: pointer;
    color: #fff;
	border-radius: 5px;
	border: none;
    background: #e7d1d0;
    line-height: 44px;
    padding: 0 !important;
    height: 44px;
    font-size: 14px;
}

  /* ====== custom modal ================ */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  .modal-title{
  
    font-size: 2em;
  
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 1s;
    animation-name: animatetop;
    animation-duration: 1s;
	border-radius: 5px;
	overflow: hidden;
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
	padding: 0px 13px;
	border-radius: 5px;
	transition: 0.4s;
  }
  
  span.close:hover,
  span.close:focus {
    text-decoration: none;
    cursor: pointer;
	background: #a81710;
  }
 
.modal-header {
    padding: 15px 15px;
    background-color: #f7f7f7;
    color: white;
    display: flex;
    justify-content: space-between;	
}
 
  
.modal-body {
	padding: 10px 90px;
}
  
.modal .modal-footer {
    padding: 15px;
    background-color: #f7f7f7;
    color: white;
    margin-top: 10px;
    display: flex;
    justify-content: end;
}
  
.form-control{  
    width: 100%;
}

.uk-alert-danger{
    background: #fef4f6 !important;
}
  
.c-modal-01 .modal-content .modal-header h5 {
    margin: 0;
}

.c-textarea {
	padding: 10px;
    border-radius: 5px;
    border-color: #e2e2e2;
}
.c-modal-01 .costabox input,
.costabox input,
.costabox select {
	border-radius: 5px;
}

/*modal scroll bar*/
.c-textarea::-webkit-scrollbar {
    width: 10px;
    background: #fbfbfb;
}
.c-textarea::-webkit-scrollbar-thumb {
    background: #e5e5e5;
    border-radius: 50px;
	border: 1px solid #fbfbfb;
}
.c-textarea::-webkit-scrollbar-thumb:hover {
	background: #999;
}