#quote-pull-out-toggle {
    color: #FFF;
    position: fixed;
    top: 30vh;
    right: 0;
    writing-mode: vertical-lr;
    z-index: 2;
    border: 1px solid #CCC;
    padding: 10px;
    background: #a81710;
    font-weight: 700;
    font-size: 28px;
    transform: rotate(-180deg);
}


.qbcb_email_quote {
    padding: 16px;
    box-sizing: border-box;
}
.qbcb_email_quote *,
.qbcb_email_quote *:before,
.qbcb_email_quote *:after {
    box-sizing: inherit;
}
.qbcb_email_quote label {
    width: 100%;
    display: inline-block;
    margin-bottom: 10px;
    font-weight: 500;
}
.qbcb_email_quote input {
    width: 100%;
    display: inline-block;
    line-height: 40px;
    margin-bottom: 20px;
    border: 1px solid #dfdfdf;
    text-indent: 10px;
    font-size: 16px;
}
.qbcb_email_quote input[type=submit] {
    background: transparent;
}
.qbcb_email_quote textarea {
    width: 100%;
    height: 100px;
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #dfdfdf;
    resize: none;
}