.tpf-changelog {
  position: relative;
  overflow: hidden;
}

.tpf-changelog ul {
  background: #fafafa;
}

.tpf-changelog ul li {
  position: relative;
  padding-left: 100px;
  border-bottom: 1px solid #dfdfdf;
  padding: 10px 0 10px 100px;
}

.tpf-changelog ul li strong {
  position: absolute;
  top: 10px;
  left: 10px;
}

.tpf-changelog .surprise {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  transform: translateY(100%);
  transition: 0.5s ease-in-out;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  overflow: hidden;
  transition: 0.5s ease-in-out;
  opacity: 0;
}

.tpf-changelog .surprise .zoom {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  /* animation: kenburnsnightmare 10s infinite;
  animation-iteration-count: infinite; */
}

.tpf-changelog .surprise .image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url("../../img/JUnPF3BS.jpg");
  /* animation: shake 0.3s;
  animation-iteration-count: infinite; */
}

.tpf-changelog .surprise.is-active {
  transform: translateY(0);
  opacity: 1;
  display: block;
}

.tpf-changelog .surprise .image.is-shaking {
  animation: shake 0.3s;
  animation-iteration-count: infinite;
}

.tpf-changelog .surprise .zoom.is-zooming {
  animation: kenburnsnightmare 10s infinite;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes kenburnsnightmare {
  0% {
    transform: scale(1);
    center: 0;
    center: 0;
  }
  100% {
    transform: scale(6);
    center: 0px;
  }
}
