section {
  padding-top: 10px;
}

a {
  color: #a81710;
}

h2 {
  font-size: 14px;
}

table {
  width: 100%;
}

table tr {
  border-bottom: 1px solid #e2e2e2;
}

table th {
  text-align: left;
  padding: 5px 5px 5px 0;
  font-size: 12px;
}

table td {
  padding: 5px 5px 5px 0;
  font-size: 12px;
}

table th.product-name,
table td.product-name {
  text-align: left;
}

table.cart-totals {
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: right;
}

table.cart-totals tr {
  padding: 0;
}

table.cart-totals td {
  padding: 0;
}

table.cart-totals th {
  padding: 0;
}

table tr.price_breaks {
  padding: 0 5px;
}

.price_breaks_row {
  border-bottom: 1px solid transparent;
}

.price_breaks td {
  padding: 5px 0;
  color: #333;
  border-bottom: 1px solid #a80f10;
}

.price_breaks th {
  border-bottom: 1px solid #a80f10;
  padding: 5px 0;
  color: #333;
}

table tr.price_breaks {
  border-bottom: 1px solid #a80f10;
}

.quote-totals th,
.quote-totals td {
  border-color: #e2e2e2;
}

.quote-totals td {
  text-align: right;
}
